{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Admin dashboard</title>
	<link rel="stylesheet" href="{% static 'css/w3-css/w3.css'%}">
	<link rel="stylesheet" href="{% static 'css/w3-css/w3pro.css'%}">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'%}">
	<!-- Bootstrap 4.5 CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
	<link rel="stylesheet" href="{% static 'w3css.css'%}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css'%}" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet" />
	<script src="{% static 'jquery.min.js'%}"></script>
	<script src="{% static 'js/customiseJs/Jquery.js'%}"></script>	
</head>

<body>
	<!-- Check for  the side bar label -->
	<input type="checkbox" id="toggler">

	<!-- Start Side Navigation Bar -->
	<div class="sidebar">
		<div class="sidebrand">
			<h2>
				<i class="fab fa-accusoft"></i>
				<span>Admin</span>
			</h2>
		</div>
		<div class="sidebar-menu">
			<ul>
				<li class="active-li">
					<a href="/hms-admin/dashboard/" class="active"><i class="fa fa-home"></i><span>Dashboard</span></a>
				</li>
				
				<li>
					<a href="/hms-admin/room/" class="add_room"> <i class="fas fa-bed"></i> <span>Add Rooms</span></a>
				</li>
				<li>
					<a href="/hms-admin/food/" class="food"> <i class="fa fa-user-plus"></i> <span>Add Food</span></a>
				</li>
				<li>
					<a href="/hms-admin/checkout/" class="views"> <i class="fa fa-users"></i> <span>Check out</span></a>
				</li>
				</li>
				<li>
					<a href="/hms-admin/booked/" class="booked"> <i class="fa fa-users"></i> <span>Booked rooms</span></a>
				</li>
				</li>
				<li>
					<a href="/hms-admin/order/"> <i class="	fa fa-shopping-bag"></i> <span>Orders</span></a>
				</li>
				</li>
				<li>
					<a href="/hms-admin/"> <i class="	fa fa-power-off"></i> <span>Logout</span></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- End Side Navigation Bar -->

	<!-- StartMain Contents Here with the top navbar -->
	<div class="main-content">
		<!-- Start top Navigation bar -->
		<header>
			<label for="toggler">
				<h2>
					<i class="fa fa-bars "></i>
					<span>Dashboard</span>
				</h2>
			</label>
			<div class="search-wrapper">
				<!-- <span class="fa fa-search"></span> -->
				<!-- <input type="search" placeholder="search here" /> -->
			</div>
			<div class="profile-picture">
				<span class="fa fa-user fa-3x"></span>
				<div>
					<h4>
						<span></span>
					</h4>
					<span class="admin">Super Admin</span>
				</div>
			</div>
		</header>
		<!-- End top Navigation bar -->

		<!-- Start Contents of the main container -->
		<main class="main">
			{% block content %}
			
			{% endblock %}
		</main>
		<!-- End Contents of the main container -->

	</div>
	<!-- EndMain Contents Here with the top navbar -->

	<!-- Custom jquery file -->
	<!-- Google Script to load the graph -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<!-- Line Chart Script -->
	<script src="{% static 'js/customiseJs/lineChart.js'%}"></script>
	<!-- Pie Chaart Script -->
	<script src="{% static 'js/customiseJs/piechart.js'%}"></script>
	<!-- jQuery -->
	<script src="{% static 'js/defaultLibrarys/jquery-3.5.1.min.js'%}"></script>
	<!-- Bootstrap 4.5 JS -->
	<script src="{% static 'js/defaultLibrarys/bootstrap.min.js'%}"></script>
	<!-- Popper JS -->
	<script src="{% static 'js/defaultLibrarys/popper.min.js'%}"></script>
	<!-- Font Awesome -->
	<script src="{% static 'js/defaultLibrarys/all.min.js'%}"></script>
</body>

</html>