{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .graph{
        width:100px;
        height:100px;
    }
</style>
<div class="cards">
    <div class="card-single">
        <div class="details">
            <span>Profit</span>
            <b><h4>UGX {{prediction}}</h4></b>
            
        </div>
        <div class="icon">
            <i class="fa fa-users fa-2x"></i>
        </div>
    </div>
    <div class="card-single">
        <div class="details">
            <span>Room Orders</span>
            <h1>8</h1>
        </div>
        <div class="icon">
            <i class="fas fa-bed"></i>
        </div>

    </div>

    <div class="card-single">
        <div class="details">
            <span>Food Orders</span>
            <h1>12</h1>
        </div>
        <div class="icon">
            <i class="fab fa-adn fa-2x"></i>
        </div>

    </div>
    <div class="card-single">
        <div class="details">
            <span> Customers</span>
            <h1>40</h1>
        </div>
        <div class="icon">
            <i class="fa fa-shopping-bag fa-2x"></i>
        </div>

    </div>
   
</div>

    

<!-- End Admin Analysis Cards -->

<!-- Start Analytical graphs for the adminstrator -->
<div class="graph-admin">
    <div class="container   py-2 px-2">
        <div class="container-fluid">
            <div class="row ">
                <div class="col lg-8  md-5">
                    <div id="chart_div" class="graph_1"></div>
                </div>
                <div class="col lg-4 md-4">
                    <div id="piechart_3d" class="graph_2"></div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="graph">
    {{graph | safe }}
</div>
{% endblock %}