{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- Start Form detail to add  food -->
    <div class="rooms food w3-section w3-padding-16">
        <div class="room-card 	w3-card-2 w3-white w3-width w3-padding w3-round-large">
            <h3 class="w3-container  w3-center w3-padding">Add Food</h3>
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}                
                <p>
                    Food Name
                </p>
                <input type="text" name="food_name" class="w3-input">
                <br>
                <p>
                    Food type
                </p>
             
                <select name="foodtype" class="w3-input" required>
                    <option value="local">local foods</option>
                    <option value="chinese">chinese foods</option>
                    <option value="lndians">Indians foods</option>
                    <option value="arabian">Arabic  foods</option>
                    
                </select><br>
               
                <p>
                    Food Price
                </p>

                <input type="number" name="foodPrice" placeholder="Enter food price" class="w3-input mb-2"  required>
                <p>
                    Food picture
                </p>
                <input type="file" name="foodPicture"  required><br>

                <div class="w3-container w3-section">
                    <input type="reset" class="w3-btn w3-yellow w3-round-large">
                    <input type="submit" name="submit" class="w3-btn w3-yellow w3-round-large w3-right">
                </div>
            </form>
        </div>
    </div>
    <!-- End Form detail to add a food -->
{% endblock %}