{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'%}">
	<!-- Bootstrap 4.5 CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
	<link rel="stylesheet" href="{% static 'w3css.css'%}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet" />
</head>
<style>
    .btn-primary{
        border-radius:20px;
        width:100px;
        padding:12px;
    }
    .w-75{
        margin:auto;

    }
    .w3-card-4{
        width:60%;
        border-radius:15px;
        margin:auto;
        margin-top:40px;
    }
    .side-login{
        background-color: maroon;
        border-radius:15px 0px 0px 15px;
    }
    .fa{
        position: absolute;
        font-size:23px;
        margin:10px;
    }
    input[type='email'], input[type='password']{
        padding-left:45px;
    }
</style>
<body>
    <div class = "w3-card-4 row">
        <div class="side-login col-md-6 col-sm-6 w3-center ">
            <h2 class="w3-center w3-text-white">Online Hotel</h2>
            <img src="{% static 'images/10.jpg'%}" style="width:150px;height:150px;border-radius:100%;margin-top:10px;" class="img-thumbnail" alt="fridge">
            <br><br><i class="w3-text-white">&copy rights reserved @ jcmtech.ug</i>
        </div>
        <div class="col-md-6 col-sm-6">
            <form action="/hms-admin/" method="post" class="w-75">
                {% csrf_token %}
                <h2 class="w3-center">login</h2>
                <div class="w3-center">
                    <i class="w3-text-red">
                        {% if sms %}
                        {{sms}}
                        {% endif %}
                    </i>
                </div>
                <div class="formgroup mb-5">
                    <i class="fa fa-envelope"></i>
                    <input type="email" name="email" class="form-control" required placeholder="Enter email">
                </div>
                <div class="mb-5 formgroup">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" class="form-control" required placeholder="Enter password">
                </div>
                <div class="formgroup w3-center">
                    <input type="submit" class="btn btn-primary" value="login" >
                </div>
                <br><br>
                <div class="formgroup mb-4">
                    <a href="#" class="w3-center mb-3">Forgot Password?</a>
                </div>
            </form>
        </div>
       
    </div>
    
</body>
</html>