* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.sidebar {
  width: 345px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #dd2f6e;
}
.sidebar .sidebrand {
  height: 90px;
  color: #fff;
  padding: 1rem 0rem 0rem 3rem;
}
.sidebar .sidebrand span {
  padding-left: 1rem;
}
.sidebar .sidebar-menu {
  height: calc(100vh - 90px);
  color: #fff;
  display: flex;
}
.sidebar .sidebar-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar .sidebar-menu ul li {
  padding: 0.5rem 0rem 0.5rem 3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.sidebar .sidebar-menu ul li:hover {
  background-color: palevioletred;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: cubic-bezier(1, 0, 0, 1);
}
.sidebar .sidebar-menu ul li a {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
}
.sidebar .sidebar-menu ul li a span {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600 !important;
}
.sidebar .sidebar-menu ul li a.active {
  background-color: #fff;
  width: 100%;
  color: #dd2f6e;
  padding: 1rem 0rem 1rem 1rem;
  border-radius: 30px 0px 0px 30px;
}
.sidebar .sidebar-menu ul li a.active:hover {
  background-color: red;
  color: #fff;
}

#toggler {
  display: none;
}
#toggler:checked + .sidebar {
  width: 70px;
}
#toggler:checked + .sidebar .sidebrand span, #toggler:checked + .sidebar .sidebar-menu ul li a span {
  display: none;
}
#toggler:checked + .sidebar .sidebrand {
  padding-left: 1rem;
}
#toggler:checked + .sidebar .sidebar-menu ul li {
  padding-left: 1.5rem;
}
#toggler:checked + .sidebar .sidebar-menu ul .active-li {
  padding-left: 0.5rem;
  width: 100%;
}
#toggler:checked ~ .main-content {
  margin-left: 70px;
  width: calc(100vw - 70px);
}
#toggler:checked ~ .main-content header {
  width: calc(100vw - 70px);
}

.main-content {
  width: calc(100vw - 345px);
  margin-left: 345px;
}
.main-content header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100vw - 345px);
  min-height: 80px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  z-index: 10;
  padding: 0rem 1rem;
}
.main-content header label h2 span {
  padding-left: 1rem;
}
.main-content header .search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.main-content header .search-wrapper .span {
  display: inline-block;
  padding: 0rem 1rem;
}
.main-content header .search-wrapper .svg-inline--fa {
  margin: 0rem 15px;
  position: relative;
  z-index: 100;
}
.main-content header .search-wrapper input {
  height: 100%;
  outline: none;
  border: none;
  padding: 0.5rem;
  height: 100%;
}
.main-content header .profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 2rem;
}
.main-content header .profile-picture .svg-inline--fa {
  color: #dd2f6e;
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.main-content main {
  z-index: 2;
  margin-top: 80px;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #ccc;
}
.main-content main .cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  color: #fff;
}
.main-content main .cards .card-single {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.main-content main .cards .card-single .icon .svg-inline--fa {
  font-size: 3rem;
  color: #8390a2;
}
.main-content main .cards .card-single .details {
  border-radius: 0px 10px 10px 0px;
}
.main-content main .foods,
.main-content main .rooms {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main-content main .foods .w3-width,
.main-content main .rooms .w3-width {
  width: 75%;
}
.main-content main .graph-admin {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40%;
}
.main-content main .graph-admin .graph_1 {
  width: 600px;
  height: 350px;
}
.main-content main .graph-admin .graph_2 {
  margin-top: 70px;
}
.main-content main .customer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #fff;
  min-height: calc(90vh - 80px);
}
.main-content main .customer h1 {
  margin-top: -2rem;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}
.main-content main .views .header_view {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
}
.main-content main .views .main-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content main .views .cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.main-content main .views .body {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 600;
}
.main-content main .views .body div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebrand span,
.sidebar .sidebar-menu ul li a span {
    display: none;
  }

  .sidebar .sidebrand {
    padding-left: 1rem;
  }

  .sidebar .sidebar-menu ul li {
    padding-left: 1.5rem;
  }

  .sidebar .sidebar-menu ul .active-li {
    padding-left: 0.5rem;
    width: 100%;
  }

  .main-content {
    margin-left: 70px;
    width: calc(100vw - 70px);
  }

  .main-content header {
    width: calc(100vw - 70px);
  }

  .main-content main .views .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .main-content header {
    height: 80px;
    overflow: hidden;
  }
  .main-content main .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .main-content main .views .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .main-content header {
    height: 80px;
    transition: ease-in 0.25s;
  }
  .main-content header .search-wrapper {
    display: none;
    transition: ease-in 0.25s;
  }
  .main-content main .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-content .main-content main .views .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .main-content header {
    height: 80px;
    overflow: hidden;
  }
  .main-content header label h2 span {
    display: none;
  }
  .main-content main .cards {
    grid-template-columns: 100%;
    margin-left: 1rem;
  }
  .main-content main .cards .card-single {
    width: 350px;
  }

  .main-content main .views .cards {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
}
.main-content html {
  height: 100%;
}
.main-content body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
.main-content .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.main-content .login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.main-content .login-box .user-box {
  position: relative;
}
.main-content .login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.main-content .login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.main-content .login-box .user-box input:focus ~ label,
.main-content .login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.main-content .login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.main-content .login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.main-content .login-box a span {
  position: absolute;
  display: block;
}
.main-content .login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.main-content .login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.main-content .login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.main-content .login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
