{% extends 'header.html'%}
{% load static %}
{% block content %}
<style>
    .fa-bars{
       font-size:25px;
       cursor: pointer;
       display: none;
   }
   .fa-search{
       position: absolute;
       font-size:20px;
       padding:8px;
   }
   .formgroup input[type=text]{
       padding-left:35px;
   }
   .form-control{
       border-radius:25px;
   }
   .icons .fa{
       font-size:22px;
       margin-left:20px;
   }
   @media screen and (max-width:568px){
       .icons{
           display: none;
       }
       h4{
           text-align: center;
       }
       .fa-bars{
           display:inline-block;
       }
       .links{
           display: none;
       }
       .cards .w3-card-2{
           width:95%;
           display: inline-block;
           justify-content: center;
           margin-left:10px;
       }       
   }
   @media screen and (min-width:600px){
       .cards .w3-card-2{
           float: left;
           margin-left:25px;
           width:45%;
           margin-top:10px;
       }
   }
   @media screen and (min-width:800px){
       .cards .w3-card-2{
           float: left;
           margin-left:25px;
           width:30%;
           margin-top:10px;
       }
   }
   @media screen and (min-width:1000px){
       .cards .w3-card-2{
           float: left;
           margin-left:30px;
           width:22%;
           margin-top:10px;
       }
   }
   .links a:hover{
       text-decoration: none;
   }
   .opennav p{
       display: block;
   }
  .w3-sidenav{
      display: none;
  }
   .cards .w3-card-2:hover{
           transform: scale(1.05,1.05);
           /* -ms-transform: scale(1.05,1.05); */
           box-shadow:20px 20px 100px rgba(0,0,0,0.3);
       }
   .position-fixed {
       z-index: 2;
       top: 0;
   }
   .cards{
       margin-top: 100px;
   }
   .footer{
       margin-top:110px;
   }
   .targets{
       width:96%;
       margin: auto;
   }
   .staff .col-md-4 .w3-card-2{
       height:130px;
       margin-top:20px;
   }
</style>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        {% if info2 %}
        <div class="w3-card-4 targets w3-round-large">
            <div class="w3-center">
                <h4><b>Mission</b></h4>
            </div>
            <div class="container w3-center">
                <p>
                    {{info2.data.0.mission}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="w3-card-4 targets w3-round-large">
            <div class="w3-center">
                <h4><b>Motto</b></h4>
            </div>
            <div class="container w3-center">
                <p>
                    {{info2.data.0.motto}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="w3-card-4  targets w3-round-large">
            <div class="w3-center">
                <h4><b>Objective</b></h4>
            </div>
            <div class="container w3-center">
                <p>
                    {{info2.data.0.obj}}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="jumbotron">
    <div class="w3-center">
        <h4>Background History</h4>
    </div>
    <div class="contianer">
        {% if info %}
           {{info.sms.0}}<br>
           {{info.sms.1}}<br>
           {{info.sms.2}}<br>
           {{info.sms.3}}
        {% endif %}
    </div>
</div>
<div class="row staff">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="w3-card-2 w3-round-large d-flex">
            <img src="{% static 'images/m.jpg'%}" style="width:120px;height:120px;border-radius:100%;" alt="">
            <div class="desc w3-center mt-5 ml-5">
                <b>Nyanzi Matia</b><br>
                <i>managing director</i>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="w3-card-2 w3-round-large d-flex">
            <img src="{% static 'images/j.jpg'%}" style="width:120px;height:120px;border-radius:100%;" alt="">
            <div class="desc w3-center mt-5 ml-5">
                <b>Mukasa Joseph</b><br>
                <i>CEO</i>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 w3-round-large">
        <div class="w3-card-2 w3-round-large d-flex ">
            <img src="{% static 'images/n.jpg'%}" style="width:120px;height:120px;border-radius:100%;" alt="">
            <div class="desc w3-center mt-5 ml-5">
                <b>Nabakka Mariam</b><br>
                <i>Secretary</i>
            </div>
        </div>
    </div>
    
</div>
<footer class="mt-5" style="background-color:rgb(27, 24, 24);width:100%;min-height:100px;bottom:0;left:0px;">
    <div class="row mt-5 pl-5 w3-text-white">
         <div class="col-md-3 mt-5">
             <p class="" style="font-family:sans-serif;font-size:20px;font-weight:bold;">Contact us</p>
                 <li>
                     <i class="fa fa-phone"></i> 0706806111
                 </li>
                 <li>
                     <i class="fa fa-envelope"></i> Hotel@gmail.com
                 </li>
                 <li>
                     <i class="fa fa-globe"></i> www.hotel.com
                 </li>
             </ul>
         </div>
         <div class="col-md-3 mt-5">
             <p class="" style="font-family:sans-serif;font-size:20px;font-weight:bold;">About Us</p>
 
             <span>Located in lira City </span><br>
             <span><i class="fa fa-map-marker"></i> obote avenue</span><br>
             <span><i class="fa fa-time"></i> 24/7 serivces</span><br>
         </div>
         <div class="col-md-3 mt-5">
             <p class="" style="font-family:sans-serif;font-size:20px;font-weight:bold;">Our partners</p>
             <span>jcm technologies</span><br>
             <span>Lira city council</span><br>
             <span>Lira unviersity</span>
         </div>
         <div class="col-md-3 mt-5">
             <p class="" style="font-family:sans-serif;font-size:20px;font-weight:bold;">Follow us</p>
             <span><i class="fa fa-twitter"></i> @jmmhotel</span><br>
             <span><i class="fa fa-facebook"></i> jmm hotel ug</span><br>
             <span><i class="fa fa-linkedin"></i> jmmhotelug</span><br>
             <span><i class="fa fa-youtube"></i> jmmhotelug</span>
         </div>
    </div>
    <div class="row mt-3 pl-5 w3-text-white">
     <div class="col-md-6 col-sm-6">
         <p style="font-family:sans-serif;font-size:20px;font-weight:bold;">payment methods</p>
         <span class="ml-4"><i class="fa fa-paypal"></i></span>
         <span class="ml-4"><i class="fa fa-bank"></i></span>
         <span class="ml-4"><i class="fa fa-money"></i></span>
     </div>
    </div>
    <hr>
 
    <p class="w3-center w3-text-white" >
         <i class="mb-5 mt-5">All rights reserved &copy 2022</i>
    </p>
 </footer>
{% endblock %}