{% extends 'header.html'%}
{% load static %}
{% block content %}
<div class="w3-card-4" style="width:500px;margin-left: 300px;margin-top: 100px;">
    <div class="modal-content navbar  w3-light-grey ">
            <!-- <i class="fa fa-comments"></i> -->
            <h2 style="font-family:sans-serif;">ChatRoom</h2>
            <div id="span"></div>
    </div>
    <div class="panel-body contianer m-2" id="chatspace">
        {% for i in data %}
           
            {% if i.2 %}
                <div class="sender w3-light-green w-50 w3-round-xlarge " style="margin-left:220px;">
                    <p class="p-3">{{i.2}}</p>
                </div>
            {% endif %}

            {% if i.1 %}
            <div class="getter w3-light-grey w-50 w3-round-xlarge">
                <p class="p-3">{{i.1}}</p>
            </div>
        {% endif %}

        {% endfor %}
    </div>
    <div class="modal-foooter contianer w3-light-grey">
            <div>
                <!-- {% csrf_token %} -->
                <div class="navbar mt-4">
                    <input type="text" name="text" id="comment" style="width:400px;" class="form-control ipt" onkeyup="st()" onkeydown="show(this.value)">
                    <input type="submit" class="w3-btn btn-success" value="send" onclick="send()">
                </div>
          </div>
    </div>
</div> 


<script>


    function show(str){
        document.getElementById("span").innerHTML = 'typing......'
    }
    function st(str){
        document.getElementById("span").innerHTML = ''
    }

    function send(){
        alert("sent")
        var comment = document.getElementById("comment").value;
        var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("chatspace").innerHTML = this.responseText;
            }
            };
            xmlhttp.open("GET", "http://127.0.0.1:8000/chatbrain/?q="+comment, true);
            xmlhttp.send();
        
    }

    $(document).ready(function(){
        $(".w3-btn").click(function(){
            $("#comment").val("")
        })
    })
</script>
{% endblock %}


