<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        {% for i in data %}
               
        {% if i.2 %}
            <div class="sender w3-light-green w-50 w3-round-xlarge " style="margin-left:220px;width:600px;">
                <p class="p-3">{{i.2}}</p>
            </div>
        {% endif %}
    
        {% if i.1 %}
        <div class="getter w3-light-grey w-50 w3-round-xlarge">
            <p class="p-3">{{i.1}}</p>
        </div>
    {% endif %}
    {% endfor %}

    </div>
</body>
</html>