{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css '%}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.min.js '%}"></script>
    <link rel="stylesheet" href="{% static 'w3css.css'%}">
    
    <title>Hotel Mgt</title>
</head>
<style>
     .fa-bars{
        font-size:25px;
        cursor: pointer;
        display: none;
    }
    .fa-search{
        position: absolute;
        font-size:20px;
        padding:8px;
    }
    .formgroup input[type=text]{
        padding-left:35px;
    }
    .form-control{
        border-radius:25px;
    }
    .icons .fa{
        font-size:22px;
        margin-left:20px;
    }
    @media screen and (max-width:568px){
        .icons{
            display: none;
        }
        h4{
            text-align: center;
        }
        .fa-bars{
            display:inline-block;
        }
        .links{
            display: none;
        }
        /* .cards .w3-card-2{
            width:95%;
            display: inline-block;
            justify-content: center;
            margin-left:10px;
        }        */
    }
    @media screen and (min-width:600px){
        /* .cards .w3-card-2{
            float: left;
            margin-left:25px;
            width:45%;
            margin-top:10px;
        } */
    }
    @media screen and (min-width:800px){
        /* .cards .w3-card-2{
            float: left;
            margin-left:25px;
            width:30%;
            margin-top:10px;
        } */
    }
    @media screen and (min-width:1000px){
        /* .cards .w3-card-2{
            float: left;
            margin-left:30px;
            width:22%;
            margin-top:10px;
        } */
    }
    .links a:hover{
        text-decoration: none;
    }
    .opennav p{
        display: block;
    }
   .w3-sidenav{
       display: none;
   }
    .cards .w3-card-2:hover{
            transform: scale(1.05,1.05);
            /* -ms-transform: scale(1.05,1.05); */
            box-shadow:20px 20px 100px rgba(0,0,0,0.3);
        }
    .position-fixed {
        z-index: 2;
        top: 0;
    }
    /* .cards{
        margin-top: 100px;
    } */
    /* .footer{
        margin-top:110px;
    } */
    .panel-body{
        resize: vertical;
        overflow: auto;
        height:300px;
    }
 
</style>
<body>
<div class="w3-card-4 position-fixed container-fluid w3-white" >
    <div class="row bg-danger w3-padding">
        <div class="col-sm-4 col-md-4 col-lg-4 ">
            <i class="fa fa-bars"></i>
            <h4>Hotel Management System</h4>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="formgroup">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="search .....">
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 w3-center icons">
            <img src="" style="width:40px;height:40px" alt="">
        </div>        
    </div>
    <div class="navbar links">
        <a href="/" class="">Room reservation</a>
        <a href="/restuarant/" class="">Restuarant</a>
        <a href="/aboutus/" class="">About us</a>
        <a href="/chat/" class="">Customer Care</a>
        <a href="/signin/" class="">SignUp</a>
    </div>
</div>
<div class="w-25 w3-animate-top">
    <div class="w3-sidenav w3-yellow">
        <p class="">
            <a href="/">Room reservation</a>
        </p>
        <p>
            <a href="/restuarant/">Restuarant rooms</a>
        </p>
        <p>
            <a href="/aboutus/">About us</a>
        </p>
        <p>        
           <a href="chatroom.html">Comments/a>
        </p>
        <p>
          <a href="">Donate to Us</a>
        </p>
    </div>
</div>

<div class="w3-white ">
    {% block content %}
    {% endblock %}
</div>
<br>
</body>
</html>