{% extends 'header.html'%}
{% load static %}
{% block content %}

<style>
    .display{
        margin-top:100px;
        margin-bottom:100px;
    }
    .display .w3-card-2{
        float:left;
        width:300px;
        margin:15px;
    }
</style>

<div class="display">
    {% for x in data %}
    <div class="w3-card-2 w3-white w3-round-large ">
        <img src="{{x.5}}" style="width:300px;" alt="">
        <div class="w3-center w3-padding ">
            <b id="room_id">Room  {{x.0}} </b>
            <div class="navbar">
                <p>  
                   $ {{x.3}}                           
                </p>             
                <p><button class="w3-red w3-btn btn1"  onclick="buy('{{x.3}}','{{x.0}}')">Book now</button></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="modal w-25 w3-white w3-card-4 h-50" style="margin:auto;top:0;" >
    <div class="modal-content">
        <div class="modal-header w3-center">
            <h4 style="font-family:cursive;">Payment</h4>
            <span class="w3-closebtn">X</span>
        </div>
    </div>
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            <label>Payment mode</label><br>
            <select name="mode" id="mode" class="form-control">
                <option value="mm">Mobile money</option>
                <option value="cd">credit card</option>
                <option value="vd">Visa card</option>
            </select>
            <label for="">For how long ?(in days)</label>
            <input type="number" name="days" class="form-control">
            <input type="text" name="room_id" id="id" value="" style="display:none;"/>
                
            <!-- <input type="text" name="id" id="id" value="" /> -->
            <!-- <i id="id"></i> -->

            <label for="">Amount : $<span id="cash"></span></label><br><br>

            <input type="submit" class="btn btn-success w3-center" value="confirm payment">

        </form>
    </div>
</div>


<script>
 

    function buy(cash,id){
        // alert("The i is"+str);
        document.getElementsByClassName("modal")[0].style.display="block";
        document.getElementById("cash").innerHTML = cash;
        // document.getElementById("id").innerHTML =id;
        document.getElementById("id").value = id;
    }

    $(document).ready(function(){
        $(".fa-bars").click(function(){
            $(".w3-sidenav").toggleClass("w3-show w3-animate-left")
        });
        // $(".btn1").click(function(){
        //     $(".id").val(function(){
        //         $("#room_id").text();
        //     });
        // });

        $(".w3-closebtn").click(function(){
            $(".modal").hide();
        })
    })
</script>


{% endblock %}