{% extends 'header.html'%}
{% load static %}
{% block content %}
<style>
    .fa-bars{
       font-size:25px;
       cursor: pointer;
       display: none;
   }
   .fa-search{
       position: absolute;
       font-size:20px;
       padding:8px;
   }
   .formgroup input[type=text]{
       padding-left:35px;
   }
   .form-control{
       border-radius:25px;
   }
   .icons .fa{
       font-size:22px;
       margin-left:20px;
   }
   @media screen and (max-width:568px){
       .icons{
           display: none;
       }
       h4{
           text-align: center;
       }
       .fa-bars{
           display:inline-block;
       }
       .links{
           display: none;
       }
       .cards .w3-card-2{
           width:95%;
           display: inline-block;
           justify-content: center;
           margin-left:10px;
       }       
   }
   @media screen and (min-width:600px){
       .cards .w3-card-2{
           float: left;
           margin-left:25px;
           width:45%;
           margin-top:10px;
       }
   }
   @media screen and (min-width:800px){
       .cards .w3-card-2{
           float: left;
           margin-left:25px;
           width:30%;
           margin-top:10px;
       }
   }
   @media screen and (min-width:1000px){
       .cards .w3-card-2{
           float: left;
           margin-left:30px;
           width:22%;
           margin-top:10px;
       }
   }
   .links a:hover{
       text-decoration: none;
   }
   .opennav p{
       display: block;
   }
  .w3-sidenav{
      display: none;
  }
   .cards .w3-card-2:hover{
           transform: scale(1.05,1.05);
           /* -ms-transform: scale(1.05,1.05); */
           box-shadow:20px 20px 100px rgba(0,0,0,0.3);
       }
   .position-fixed {
       z-index: 2;
       top: 0;
   }
   .cards{
       margin-top: 20px;
   }
   .footer{
       margin-top:110px;
   }
   .slide .slide-card{
       margin:20px;
       padding-left:10px;
   }
   .slide .slide-card:hover{
       transform: scale(1.007,1.007);
   }
   .slide-card img{
       height:200px;
   }
   .w3-card-2 img{
       height:200px;
   }
   .w3-card-2{
       height:290px;
   }
</style>
<div class="container-fluid w3-green" style="margin-top: 100px;">
    <div class="navbar">
        <i class="fa fa-coffee"></i>
        <h4>Hot foods</h4>
        <i class="fa fa-comment"></i>
    </div>
</div>
<!-- <div class="multiple-items slide" >
    
    <div class="slide-card w3-hover-shadow w3-round w-100" >
        <div class="img-fluid">
            <img src="{% static 'images/luwombo.jpg'%}" class="card-img-top" alt="">
        </div>
        <div class="contianer w3-center navbar">
            <p>Chicken (luwombo)</p>
            <p>$300</p>
        </div>
        <button class="w3-btn bg-warning container w-50 mb-2">Buy now</button>
    </div>
    <div class="slide-card w3-hover-shadow w3-round w-100" >
        <img src="{% static 'images/pilawo.jfif'%}" class="w-100"  alt="">
        <div class="contianer w3-center navbar">
            <p>spiced pilawo</p>
            <p>$300</p>
        </div>
        <button class="w3-btn bg-warning container w-50 mb-2">Buy now</button>
    </div>
    <div class="slide-card w3-hover-shadow w3-round w3-100">
        <img src="{% static 'images/rice.jpg'%}" class="w-100" alt="">
        <div class="contianer w3-center navbar">
            <p>Rice and meat</p>
            <p>$300</p>
        </div>
        <button class="w3-btn bg-warning container w-50 mb-2">Buy now</button>
    </div>
    <div class="slide-card w3-hover-shadow w3-round w-100" >
        <img src="{% static 'images/pizza.jfif'%}" class="w-100" alt="">
        <div class="contianer w3-center navbar">
            <p>Pizza</p>
            <p>$300</p>
        </div>
        <button class="w3-btn bg-warning container w-50 mb-2">Buy now</button>
    </div>
</div> -->



<!-- beginning of the other cards -->


<div class="contianer cards ">
    {% for x in food %}
        <div class="w3-card-2 mt-2 w3-round-large ">
            <img src="{{x.4}}" class="w-100" alt="">
            <div class="w3-center w3-padding ">
                <b>{{x.2}}</b>
                <div class="navbar">
                    <p><button class="w3-red w3-btn btn1"onclick="buy('{{x.1}}','{{x.0}}')">Buy now</button></p>
                    <p>$ {{x.1}}</p>
                </div>
            </div>
        </div>   
    
    {% endfor %}
    
</div>


<div class="modal w-25 w3-white w3-card-4 h-50" style="margin:auto;top:0;" >
    <div class="modal-content">
        <div class="modal-header w3-center">
            <h4 style="font-family:cursive;">Payment</h4>
            <span class="w3-closebtn">X</span>
        </div>
    </div>
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            <label>Payment mode</label><br>
            <select name="mode" id="mode" class="form-control">
                <option value="mm">Mobile money</option>
                <option value="cd">credit card</option>
                <option value="vd">Visa card</option>
            </select>
            
            <input type="text" name="food_id" id="id" value="" style="display:none;"/>
                
            <!-- <input type="text" name="id" id="id" value="" /> -->
            <!-- <i id="id"></i> -->
            <br>
            <label for="">Amount : <span id="cash"></span></label><br><br>

            <input type="submit" class="btn btn-success mx-auto" value="confirm payment">

        </form>
    </div>
</div>

<script>
 

    function buy(cash,id){
        // alert("The i is"+str);
        document.getElementsByClassName("modal")[0].style.display="block";
        document.getElementById("cash").innerHTML = cash;
        // document.getElementById("id").innerHTML =id;
        document.getElementById("id").value = id;
    }

    $(document).ready(function(){
        $(".fa-bars").click(function(){
            $(".w3-sidenav").toggleClass("w3-show w3-animate-left")
        });
        // $(".btn1").click(function(){
        //     $(".id").val(function(){
        //         $("#room_id").text();
        //     });
        // });

        $(".w3-closebtn").click(function(){
            $(".modal").hide();
        })
    })
</script><script>
 

    function buy(cash,id){
        // alert("The i is"+str);
        document.getElementsByClassName("modal")[0].style.display="block";
        document.getElementById("cash").innerHTML = cash;
        // document.getElementById("id").innerHTML =id;
        document.getElementById("id").value = id;
    }

    $(document).ready(function(){
        $(".fa-bars").click(function(){
            $(".w3-sidenav").toggleClass("w3-show w3-animate-left")
        });
        // $(".btn1").click(function(){
        //     $(".id").val(function(){
        //         $("#room_id").text();
        //     });
        // });

        $(".w3-closebtn").click(function(){
            $(".modal").hide();
        })
    })
</script>


<script>
    $(document).ready(function(){
        $(".fa-bars").click(function(){
            $(".w3-sidenav").toggleClass("w3-show w3-animate-left")
        })
        
    })

</script>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function(){
          $('.multiple-items').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 3,
          autoplay:true,
          speed:200
          });
      })
    //   $(document).ready(function(){
    //       $('.single').slick({
    //       infinite: true,
    //       slidesToShow: 2,
    //       slidesToScroll: 2,
    //       speed: 300,
    //       });
    //   })/\
</script>
{% endblock %}