{% extends 'header.html'%}
{% load static %}
{% block content %}
<div class=" w3-card-2  container w3-round" style="margin-left:400px;width:40%;margin-top:150px;">
    <form action="/signin/" method="post">
        {% csrf_token %} 
        <div class="w3-center">
            <h3>Reigster</h3>
        </div>
        <label for="">first Name</label>
        <input type="text" name="first_name" class="form-control" required>
        <label for="">surname</label>
        <input type="text" name="surname" class="form-control" required>
        <label for="">email Address</label>
        <input type="email" name="email" class="form-control" required>
        <label for="">contact</label>
        <input type="number" name="contact" placeholder="+256" class="form-control" required>
        <label for="">credit Number</label>
        <input type="number" name="credit_card" class="form-control" required>
        <div class="w3-center mt-3 mb-3">
            <input type="submit" name="submit" class="w3-btn btn-primary mb-2" value="register">
        </div>
    </form>
</div>
{% endblock %}